<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>GENERAL_SETTINGS</string>
			<key>Key</key>
			<string>GeneralSettingsGroupKey</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>LOGON_SETTINGS</string>
			<key>File</key>
			<string>MAFLogonSettings.sub</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>ADVANCED_SETTINGS</string>
			<key>File</key>
			<string>MAFAdvancedSettings.sub</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>USE_SUP</string>
			<key>Key</key>
			<string>MAFUseSUPKey</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>VERSION</string>
			<key>File</key>
			<string>MAFVersion.sub</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>ABOUT</string>
			<key>File</key>
			<string>MAFAbout.sub</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>SUP_CONNECTION_INFO</string>
			<key>File</key>
			<string>SUPConnectionSettings.sub</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Localizable</string>
</dict>
</plist>
